# ==========================================================
# Python
# ==========================================================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# ==========================================================
# Virtual Environment
# ==========================================================
.venv/
env/
venv/
ENV/

# ==========================================================
# IDE
# ==========================================================
.vscode/
.idea/
*.swp
*.swo

# ==========================================================
# Jupyter Notebook
# ==========================================================
.ipynb_checkpoints/

# ==========================================================
# Database
# ==========================================================
*.db
*.sqlite
*.sqlite3

# ==========================================================
# Logs
# ==========================================================
*.log

# ==========================================================
# Operating System
# ==========================================================
.DS_Store
Thumbs.db

# ==========================================================
# Environment Variables
# ==========================================================
.env

# ==========================================================
# Python Testing / Build
# ==========================================================
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/